WFapp/Service References/ServicioValor/ServicioValor1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GP.ServicioBase.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GP.ServicioBase.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ValorDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deshabilitado" type="xs:int" />
      <xs:element minOccurs="0" name="Influencia" type="xs:short" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValorDataContract" nillable="true" type="tns:ValorDataContract" />
  <xs:complexType name="ArrayOfValorDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValorDataContract" nillable="true" type="tns:ValorDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValorDataContract" nillable="true" type="tns:ArrayOfValorDataContract" />
</xs:schema>