WFapp/Service References/ServicioValor/ServicioValor2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7430/ServicioValor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GP.ServicioBase.DataContracts" />
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GP.ServicioBase.DataContracts" minOccurs="0" name="entity" nillable="true" type="q1:ValorDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GP.ServicioBase.DataContracts" minOccurs="0" name="entity" nillable="true" type="q2:ValorDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Enable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GP.ServicioBase.DataContracts" minOccurs="0" name="entity" nillable="true" type="q3:ValorDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Disable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GP.ServicioBase.DataContracts" minOccurs="0" name="entity" nillable="true" type="q4:ValorDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtainId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtainIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GP.ServicioBase.DataContracts" minOccurs="0" name="ObtainIdResult" nillable="true" type="q5:ValorDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtainAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtainAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GP.ServicioBase.DataContracts" minOccurs="0" name="ObtainAllResult" nillable="true" type="q6:ArrayOfValorDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>